
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    scroll-behavior: smooth;
    background-color:#011627;
    font-family: 'Inconsolata', monospace;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.success-msg{
    color: #fff;
    font-size: 1.2em;
}

.ticksvg {
    width: 100%;
}

.tick {
    transform-origin: center;
    animation: grow 0.8s ease-in-out forwards;
}

@keyframes grow {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.circle {
    transform-origin: center;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 1s linear;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
  

.github-fixed,
.fb-fixed,
.insta-fixed,
.linkedin-fixed{
    transition: transform 0.2s ease-in-out;
}

.github-fixed:hover,
.fb-fixed:hover,
.insta-fixed:hover,
.linkedin-fixed:hover{
    transform: scale(1.2);
}

.fixed-links,
.fixed-links-footer{
    position: fixed;
    background-color: #b4b9c5;
    height: 150px;
    width: 1px;
    left: 50px;
    bottom: 0px;
}

.fixed-links-footer{
    height: 50px;
    bottom: 320px;
}

.github-fixed{
    position: fixed;
    left: 36px;
    bottom: 160px;
}

.fb-fixed{
    position: fixed;
    left: 36px;
    bottom: 200px;
}

.insta-fixed{
    position: fixed;
    left: 36px;
    bottom: 240px;
}

.linkedin-fixed{
    position: fixed;
    left: 36px;
    bottom: 280px;
}

.fixed-links-right{
    position: fixed;
    background-color: #b4b9c5;
    height: 150px;
    width: 1px;
    right: 50px;
    bottom: 70px;
}

.typing-effect {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60%;
}

.typewrite {
    color: white;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 700;
}

.container-fluid {
    height: 100vh;
    background-size: cover;
    padding-top: 1rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.container-fluid .main-content{
    margin-top: 20px;
}

.container-fluid .main{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.main-content{
    height: 80vh;
}

.main .logo{
    width: 30%;
}

.main .logo h1{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    color: #d8d6da;
    padding-left: 1rem;
}

.main nav.navbar{
    width: 70%;
}

.main nav .nav-item .nav-link{
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    padding: 0 0.6rem;
    font-size: 1em;
    color: #d8d6da;
    margin-right: 1.1em;
}

.nav-link::after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0;
	left: 50%;
	height: 2px;
	background: #8a8491;
	transition: 0.4s ease-out;
	margin-top: 10px;
}

.nav-link:hover::after{
	left: 0;
	width: 100%;
}

.nav-link:hover{
	color: #302839;
}

.home-about-section{
    height: 100vh;
}

.home-contact-section{
    width: 60%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
}

 
.home-about-section{
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 4rem;
    justify-content: center;
}

.display-picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 4rem;
}

.display-picture img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.bio{
    width: 100%;
    height: 60vh;
    padding: 2rem 4rem 4rem 4rem;
    font-size: 1.4rem;
}

.resumefile{
    border: 1px solid rgb(232, 25, 25);
    width: 90px;
    padding: 7px 1px;
    text-align: center;
    color: white;
    margin: 2px;
    cursor: pointer;
}

.works a{
    text-decoration: none;
}

.resumefile:hover{
    border: 1px solid rgb(237, 55, 55);
}

.bio h1,
.skills h1,
.works h1
{
    color: #addb67;
}

.bio span{
    color: #d6deeb;
}

.bio p{
    color: #d6deeb;
    font-size: 0.8em !important;
}

span.job-title{
    color: #82aaff;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.myname{
    width: 80%;
}

.address{
    width: 20%;
}

.myname{
    padding-left: 2rem;
}
.myname h1{
    font-size: 3rem;
}


.cont-left{
    width: 25%;
    height: 100%;
    background: #dee3e7;
    padding-right: 5px;
}

.cont-right{
    width: 75%;
    height: 100%;
}


.bullets{
    list-style: disc;
    margin-left: 20px;
}

ul{
    list-style-type: none;
}

.skills,
.works {
    width: 60%;
    margin: 0 auto;
    padding: 4rem;
}

.skills-container {
    margin-top: 20px;
}

.skill {
    margin-bottom: 15px;
}

.skill-name {
    font-weight: bold;
    color: #d6deeb;
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skill-percentage {
    height: 10px;
    width: 0;
    background-color: red;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}

.works-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.work-thumbnail {
    position: relative;
    width: 350px;
    height: 220px;
    overflow: hidden;
    margin: 1%;
}

.work-thumbnail img, .work-thumbnail video {
    max-width: 100%;
    height: 100%;
}

.work-thumbnail video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.work-thumbnail:hover video {
    opacity: 1;
}

.work-thumbnail:hover img {
    opacity: 0;
}

.works p a{
    color: #f78c6c;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.works p a:hover{
    font-weight: bold;
}


.pct {
    position: absolute;
    top: -19px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.container-contact{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 4rem;
}

.links-container{
    width: 100%;
    height: 100%;
}

.links-container{
    background-color:#011627;
    color: #d6deeb;
}

.links-container h1, h2{
    color: #addb67;
}

.links-container  p:last-of-type{
    color: #f78c6c;
}

.form-group{
    margin:20px 0 0 0;
    width: 70%;
}

button[type="submit"]{
    margin-top: 20px;
    background-color: transparent !important;
    border-color: #2d5aa4;
    transition: all 0.4s ease-in-out;
}

button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active
{
    background-color: transparent !important;
    border-color: #376fd0 !important;
}

hr{
    width: 97%;
}

.sidenav{
    width: 50px;
    height: 200px;
    background-color: blue;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.sidenavdiv{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 25%;
    background-color: #2c333d;
}

.fa-sidebar{
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
    color: white;
}

.fa-sidebar:hover{
    color: #999;
}

footer{
    text-align: center;
    padding: 15px;
    color: #d8d6da;
    /* background-color: rgb(39, 36, 44); */
    background-color:#011627;
    margin-top: 7%;
}

.projectsheading{
    display: none;
}



/* --------------------------------------
---------------------------------------
---------admin side -------------------
----------------------------------------
---------------------------------------*/

.bg-custom-adm-header{
    /* background: linear-gradient(#122e3d,#1c455c); */
    background-color: #20506b;
    height: 8vh;
}

.admin-nav{
    color: #fff;
}

.admin-nav:hover{
    color: #d5d5da;
}

.adminsection{
    display: flex;
    flex-direction: row;
    height: 86vh;
}

.adminsidebar{
    width: 15%;
}

.dashboardcontent{
    width: 85%;
    background-color: white;
}

.adminfooter{
    width: 100%;
    height: 6vh;
}

.nav-pills li a{
    font-size: 1.1em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-text{
    font-size: 2.4em;
}

.card-title{
    color:#006f72;
    font-size: 1.1em;
}

/* admin */

.testimonials .container-fluid{
    width: 96%;
    height: 80vh;
    margin-top: 10px;
    overflow-y: auto;
}

.review{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    background-color: #f1f0f3;
    padding: 10px;
    border-radius: 10px;
}

.dp{
    width: 8%;
    height: 100%;
    border-radius: 50%;
}

.dp-img-admin{
    max-width: 80%;
    border-radius: 50%;
}

.user{
    width: 92%;
    height: 100%;
}

.username{
    width: 100%;
    height: 40%;
    font-weight: bold;
    font-size: 1.14em;
}

.userreview{
    width: 100%;
    height: 60%;
    padding-top: 2px;
}

.alert-success,
.alert-danger{
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: none;
}

.btn-danger{
    padding: 0 10px;
    height: 50%;
    margin-top: 20px;
}
/* --------------------------------------
---------------------------------------
---------MEDIA QUERIES FOR MOBILE -----
----------------------------------------
---------------------------------------*/

@media only screen and (max-width:720px){

    .navbar{
        display: none;
    }

    .address{
        display: none;
    }

    .home-about-section{
        height: auto;
    }

    .home-about-section .image{
        display: none;
    }

    .bio{
        width: 100%;
        padding-top: 50px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: justify;
        height: auto;
    }

    .cont-left,
    .skills1{
        display: none;
    }

    #skills{
        margin: 0 auto;
        padding: 30px;
        width: 100vw;
    }

    .container-contact{
        flex-direction: column-reverse;
    }

    .map-container,
    .links-container{
        width: 100vw;
    }

    .map-container{
        height: 200px;
    }

    .form-group{
        width: 90%;
    }
    .projectsheading{
        display: flex;
    }

    .hyperlink{
        text-decoration: none;
        color: black;
    }

}